:root {
  --green: #69896f;
  --white: #ffffff;
  --rust: #8b0000;
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}
/*!Global styles */
* {
  margin: 0;
  padding: 0;
}

body {
  --hue: var(--hue-neutral);
  background-color: hsl(var(--hue), 100%, 20%);
}

.hide {
  display: none;
}

h2 {
  --hue: var(--hue-correct);
  /* color: var(--white); */
  text-align: left;
  padding: 40px 60px;
  margin: 0px;
  font-size: 40px;
}

/*! Buttons styles */
.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: rgb(28, 184, 65);
  /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60);
  /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20);
  margin-left: 250px;
  /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221);
  /* this is a light blue */
}

h1 {
  background-color: var(--hue-wrong);
  color: white;
  text-align: center;
  padding: 20px;
}

h2 {
  background-color: transparent;
  color: var(--white);
  text-align: left;
  padding: 15px 60px;
  margin: 0px;
  font-size: 40px;
  text-shadow: 4px 4px 8px #000000;
}

#gif {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  padding: 30px;
}

head nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}

.hero {
  background-image: url("https://as2.ftcdn.net/v2/jpg/01/32/61/13/1000_F_132611338_8QF2IbLH0La8zcfbFYz3qg9HHNdX8Ze7.jpg");
  background-repeat: no-repeat;
  position: bottom;
  background-size: cover;
  height: auto;
  width: 100%;
}
.hero-form {
  border: 3px solid ;
  border-color: var(--green);
  color: black;
  padding: 20px;
  width: 500px;
  background-color: var(--white);
  position: absolute;
  bottom: 240px;
  right: 20px;



}


footer  {
background-color: var(--green);
font-size: 30px;
color: var(--white);

}

legend {
  padding: 20px auto;
}

/*! Not being used now */
.card {
  border: solid 2px black;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  display: inline-block;
  max-width: 200px;
}

.hero-form {
  background-color: var(--white);
  padding: 30px;
  margin: 30px;
  width: 550px;
  position: relative;
  left: 40px;
  border-width: 3px;
  box-shadow: 0 0 20px 5px;
  border-radius: 10px;
}

.hero-form p {
  margin: 5px 0 15px 0;
}

footer {
  background: var(--rust);
  width: 100%;
  padding: 30px 25px;
}

footer h3 {
  font-size: 30px;
  color: var(--white);
}

.locate {
  background-color: var(--green);
  color: var(--white);
  cursor: pointer;
}

.locate:hover {
  background-color: var(--rust);
  color: black;
  width: 600px;
  height: 300px;
  margin: 0 auto;
  padding-top: 30px;
  border: solid;
  border-color: blue;
  text-align: center;
}

#response-container {
  --hue: var(--hue-wrong);
  background-color: hsl(var(--hue), 100%, 20%);
  border: solid 0.5px black;
  border-radius: 10px;
  margin: 30px;
  padding: 25px;
  max-width: 100vh;
}

#edamam-response {
  border-radius: 5px;
  margin: 5px;
}

.edamam {
  border: solid 2px white;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

.thumb {
  display: block;
  margin: 5px auto;
  width: 150px;
  height: auto;
}

#documenu-response {
  border-radius: 5px;
  margin: 5px;
}

.documenu {
  border: solid 2px white;
  height: 50px;
  border-radius: 5px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.7);
}
